* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  body {
    background-color: white;
  }

  header {
    max-height: 70px;
    position: fixed;
    z-index: 1;
    height: 70px;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
header > .nav-logo {
    width: 70px;
    flex-grow: 0.05;
  }

  
header > .nav-logo img {
    height: 30px;
    margin-left: 0px;
  }
  
  header > .nav-links {
    height: 70px;
    flex-grow: 0.5;
    margin-left: 50px;
    /* background-color: blue; */
  }
  
  header > .nav-links nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }

  header > .nav-links nav ul li {
    list-style: none;
    margin-right: 30px;
  }
  header > .nav-links nav ul li a {
    text-decoration: none;
    color: #112f98;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  header > .nav-links nav ul li a:hover{
    color: orange;
    transition: all 0.1s ease-in-out;
  }

  header > .nav-extra {
    height: 70px;
    width: 70px;
  
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-extra > input {
    border: 1px solid #3ca0b8;
    background-color: rgba(217, 217, 217, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    flex-shrink: 0;
    padding-right: 5px;
  }

  .nav-extra > a button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: #3ca0b8;
    flex-shrink: 0;
    border: 2px solid #3ca0b8;
    color: #fff;
  }
  
  .nav-extra > a button:hover{
    color: #3ca0b8;
    background-color: #fff;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

  .nav-extra > a button:active{
    opacity: 0.7;
    background-color: #3ca0b8;
    color: #fff;
  }

  main {
    width: 100vw;
    height: 150vh;
  }
  
  /* Banner */
  #hero {
    height: 90vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(/images/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero1{
    height: 70vh;
    width: 96vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/pexels-mart-production-7088530.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
  }


  .hero1-content {
    position: absolute;
  }
  
  .hero1-content > h1 {
    color: rgba(255, 255, 255, 0.621);
    font-size: 55px;
  }

  .welcome{
    font-size: 35px;
    text-align: center;
    color: #0e1428;
    margin-top: 20px;
    margin-bottom: 30px;
  }


  .about-article, .about-article1, .about-article2 {
    text-align: center;
    color: rgb(14, 13, 13);
    font-size: large;
    margin-bottom: 20px;

  }

  .knowus{
    margin-bottom: 20px;
  }

  .knowus > h1{
    font-size: 35px;
    color: #0e1428;
  }

  .knowus > p{
    font-size: large;
  }


  .organization, .community, .distance, .building{
      display: flex;
      align-items: center;
      gap: 20px;

  }

  .organization > img, .community > img, .distance > img, .building > img{
     width: 50px;
     flex: 1;
    
  }

  .organization > .organ, .community > .inspire, .distance > .learning, .building > .project{
    flex: 1;

  }
  .organization > .organ h1, .community > .inspire, .distance > .learning h1, .building > .project h1{
    margin-bottom: 20px;
    font-size: 35px;
  }

  .organization > .organ p, .community > .inspire p, .distance > .learning p, .building > .project{
    font-size: large;
  }





